/**{
	margin: 0;
}*/
body{
	margin: 0;
	background-color:#f4f4f4;
}
:focus{
	outline: none;
}
#top{
	height: 86px;
	width: 990px;
	margin: 0 auto;
	background-color:#fff;
	line-height: 80px;
}
#top img{	
	vertical-align: middle;
}
#top h1{
	vertical-align: middle;
	display: inline;
	margin-left: 30px;
	font-size: 24px;
	color: #666;
	font-weight: normal;
}
#body{
	background-color:#e93854;
}
#main{
	height: 475px;
	width: 990px;
	margin: 0 auto;
	position: relative;
	background: url(./jdtupian/banner.png) no-repeat;
}
#form_box{
	width: 306px;
	padding: 20px;
	background-color:#fff;
	position: absolute;
   top: 40px;
   right: 80px;

}
#form_box h2{
	font-size: 20px;
	color: #666;
	font-weight: normal;
	margin: 0 0 15px;
}
#form_box h2 a {
	float: right;
	font-size: 12px;
	color: #b61d1d;
	text-decoration: none;
	background:url("./jdtupian/login-icons.png") no-repeat -104px  -75px;
	padding-left: 20px;

}
#name_box, #pwd_box {
	width: 304px;
	height: 38px;
	border: 1px solid #bdbdbb;
	margin-bottom: 20px;
	position: relative;

}
#name_box label, #pwd_box label {
	width: 38px;
	height: 38px;
	border-right: 1px solid #bdbdbb;
	position: absolute;
	top: 0;
	left: 0;
	background: url("./jdtupian/login-icons.png") no-repeat;
}
 #pwd_box label {
 	background-position: -48px 0;
 }
#name_box input, #pwd_box input {
	width: 254px;
	height: 38px;
	padding: 0 0 0 50px;
	border: none;
}
#remember_box{
	margin-bottom: 20px;
	font-size: 12px;
	color:#666; 
}
#remember_box input {
	vertical-align: middle;
	
}
#remember_box a{
	float: right;
	color: #666;
	text-decoration: none;

}
#remember_box a:hover{
	color: #b61d1d;
	
}
#submit_box{
	text-align: center;

}
#submit_box input {
	width: 302px;
	height: 32px;
	color: #fff;
	font-size: 18px;
	border:none; 
	background-color:#e4393c;



}
#bottom{
	width: 990px;
	height: 80px;
	padding-top: 10px;
	margin: 0 auto;
	background-color:#fff;
	color: #666;
	font-size: 16px;
	text-align: center;


}
#bottom ul{

	margin: 0;
	padding: 0;
	list-style:none;
}
#bottom ul li {
	display: inline;
	margin: 0 4px ;
}
#bottom ul li a {
	color: #666;
	text-decoration: none;
}
#bottom ul li a:hover {
	color: #e4393c;
	text-decoration:underline;
}